main {
  height: 100dvh;
}

a {
  text-decoration: none !important;
}

a:hover {
  opacity: 0.8;
}

.logout-btn a {
  color: red
}

.logout-btn a:hover {
  color: red;
  background-color: rgba(255, 0, 0, 0.4);
  opacity: 1 !important;
}